.content-box {
    -fx-background-color: rgba(199, 226, 214, 0.6);
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-background-radius:10;
    /* rgba(227, 255, 244, 0.5) light cyan*/
    /* rgba(245, 245, 220, 0.6) light beige*/
    -fx-font-size: 12;
    -fx-font-weight: 200;
}

.button {
    -fx-background-color: rgba(255, 182, 36, 0.5);
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 182, 36, 0.6);
    -fx-alignment: center;
    -fx-text-fill: white;
}